.hero-section {
  background-image: url('C:\Users\drkco\OneDrive\Documents\GitHub\inClassWod-murphys\public\images\murphys-new-background.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}


#topMenu {
  background-color: #1B4F24;
  color: white;
  padding-bottom: 15px;
}

#centerText {
  color: white;
  height: 500px;
}

#bottomMenu {
  background-color: #1B4F24;
  color: white;
}

div.nav-item.nav-link {
  color: white;
}

.nav-link {
  color: white;
}

/*:root {*/
/*  --bs-link-color: white;*/
/*}*/

